@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  --bg-color: rgba(255, 255, 255, 0.014);
  background-color: #171717;
  font-family: Poppins, sans-serif;
}
